<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mate1">
<listeners>
      <listener class-name="com.mate1.utils.RetryListener"/>
  </listeners>
  <test name="Mate1Tests">
    <classes>
    <class name="com.testng.tests.Mate1TestCases"/>
    <class name="com.testng.tests.ErrorMessagesVerification"/>   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
